extends layout.pug

block content
  .primary
    h1.text-dark.text-decoration-none.align-middle= 'Dashboard'
    p.text-dark.text-decoration-none.align-middle Welcome to DashBoard
  #footer 
    button.bg-dark.text-light.border-0(style="width: 200px; height: 70px") NewPost