extends layout.pug

block content
  <small></small>
  .primary.pl-1.p-2(id='main')
  
    //- h1.text-dark.text-decoration-none.align-middle= title
    //- p.text-dark.text-decoration-none.align-middle Welcome #{username}
  script(type='text/javascript').
    var username = `#{{username}}`;
  script(src='javascripts/home.js')
  script(type='text/javascript').
    var blogs2 = JSON.parse('!{blogs}')
    var mainDiv = document.getElementById('main')
    //- console.log(blogs2.length)
    for (blog of blogs2){
      var blogContainer = document.createElement('div');
      blogContainer.className = 'container-fluid mb-3';
      var rowContainer = document.createElement('div');
      rowContainer.className = 'row';
      var titleDiv = document.createElement('div');
      titleDiv.className = 'text-light bg-dark h5 m-0 col';
      var titleA = document.createElement('a');
      titleA.style.textDecoration = 'none'
      titleA.className = 'text-light m-0';
      titleA.innerHTML = blog[0];
      //- titleA.href="my link to .. custom"
      var usernameDiv = document.createElement('div');
      usernameDiv.className = 'text-light bg-dark h6 m-0 col';
      var usernameP = document.createElement('p');
      usernameP.className = 'text-end m-0';
      var contentDiv = document.createElement('div');
      contentDiv.className = 'border border-dark h5 m-0 w-100';
      //- usernameDiv.innerHTML = 'Posted by ' + blog[1];
      usernameP.innerHTML = 'Posted by ' + blog[1];
      contentDiv.innerHTML = blog[2];
      
      rowContainer.dataset.blogid = blog[3];
      //- div.className = 'border pad';
      

      titleDiv.appendChild(titleA);
      rowContainer.appendChild(titleDiv);
      usernameDiv.appendChild(usernameP);
      rowContainer.appendChild(usernameDiv);
      rowContainer.appendChild(contentDiv);

      var comments = blog[4];
      //- console.log(comments.length);
      
      for (comment of comments) {
        var commentDiv = document.createElement('div');
        commentDiv.innerHTML = comment;  
        rowContainer.appendChild(commentDiv)
      }

      blogContainer.appendChild(rowContainer);
      mainDiv.appendChild(blogContainer);
    }



