doctype html
html
  head
    title= title
    link(rel="stylesheet" href="./css/bootstrap.min.css")
    link(rel="stylesheet" href="./css2/style.css")

  body.bg-light.p-0
    // Nevbar
    include nevbar
    // Nevbar End

    block content
