.d-flex.flex-row.bg-dark.align-middle.mb-pb-0
  .p-3.align-middle.mb-pb-0
    p: a(href="/home", color="white").text-light.text-decoration-none.align-middle.align-self-center Home
  .p-3.align-middle.mb-pb-0
    p: a(href="/dashboard").text-light.text-decoration-none.align-middle.align-self-center Dashboard 
  .p-3.align-middle.mb-pb-0
    p: a(href="/login").text-light.text-decoration-none.align-middle.align-self-center Login 
  .p-3.align-middle.mb-pb-0
    p: a(href="/logout").text-light.text-decoration-none.align-middle.align-self-center Logout

.d-flex.flex-row.bg-dark.align-middle
  .p-2.bg-light.rounded.shadow.media-body.align-self-center
    h4.nevbar_text1.text-dark.text-center= nevbar_text

  