extends layout.pug

block content 
  .container.bg-light.m-0.p-2
    form(method='post', id='signup')
      label(for="username").text-dark Username
      br/
      input(type='text', name="username" id="username")

      br/
      <small></small>
      br/
      label(for="password").text-dark Password 
      br/
      input(type='text', name="password" id="password")
      br/
      <small></small>
      br/
      button(type='submit') Sign up 
      br/
      <small></small>
      br/
      a(href="/login").text-dark.text-decoration-none Login instead
    
  script(src='javascripts/signup.js')