extends layout.pug

block content 
  .container.bg-dark.align-middle.p-3
    form(method='post', id='login')
      label(for="username").text-light Username
      br/
      input(type='text', name="username" id="username")

      br/
      <small></small>
      br/
      label(for="password").text-light Password 
      br/
      input(type='text', name="password" id="password")
      br/
      <small></small>
      br/
      button(type='submit') Sign up 
      br/
      <small></small>
      br/
      a(href="/login").text-light.text-decoration-none Login instead
    
    script(src='javascripts/login.js')